@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage Surveys: <a asp-area="" asp-controller="Surveys" asp-action="Index">SurveyIndex</a>.</p>
    <p>Create a Survey: <a asp-area="" asp-controller="Surveys" asp-action="Create">SurveyCreate</a>.</p>
</div>
